@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);




  .hide {
    display: none;
  }

  .non-opacity {
    opacity: 100;
  }
  
  
  


.revealUp {
  opacity: 0;
  visibility: hidden;
}

.zoom {
  transition: transform .2s; /* Animation */

}

.zoom:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}






.phonescreen {
    
   
  border-radius: 200px;
  margin-top: 5%;
}
@media screen and (max-width: 1050px) {
    
  .phonescreen {
      display: none;
  }
}

