@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.sac-state-gold-2{
    background-color:rgb(187, 172, 132) ;
}
#myVideo {
  position: fixed;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}


  .hide {
    display: none;
  }

  .non-opacity {
    opacity: 100;
  }
      
  


  .revealUp {
    opacity: 0;
    visibility: hidden;
  }



.phonescreen {
    
   
  border-radius: 200px;
  margin-top: 5%;
}
@media screen and (max-width: 1050px) {
    
  .phonescreen {
      display: none;
  }
}